.gif-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 1); /* Opaque background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it's on top */
}

.gif-image {
  width: 100%;    /* Make the GIF fill the container horizontally */
  height: 100%;   /* Make the GIF fill the container vertically */
  object-fit: contain;  /* Keep the GIF aspect ratio */
}

.return-button {
  position: absolute;
  bottom: 50px;  /* Position the button 50px from the bottom */
  left: 50%;
  transform: translateX(-50%);  /* Center the button horizontally */
  padding: 15px 12px;  /* Larger padding for the button */
  font-size: 12px;     /* Increase font size for readability */
  font-family: 'Press Start 2P', monospace; /* Pixelated font style */
  background-color: rgba(255, 255, 255, 0.2); /* More transparent background */
  color: rgba(0, 0, 0, 0.2); /* Make text more transparent */
  border: 2px solid rgba(204, 204, 204, 0.2); /* More transparent border */
  border-radius: 8px;  /* Rounded corners */
  cursor: pointer;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2); /* Soft shadow for depth */
  transition: background-color 0.3s, box-shadow 0.3s; /* Smooth hover effect */
  letter-spacing: 1px; /* Small letter spacing for pixelated effect */
}

.return-button:hover {
  background-color: rgba(255, 255, 255, 0.7); /* Slightly less transparent on hover */
  color: rgba(0, 0, 0, 0.8); /* Darker text on hover */
  border: 2px solid rgba(204, 204, 204, 0.7); /* Less transparent border on hover */
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.3); /* Stronger shadow on hover */
}